@import "../../../scss/variables.scss";

$border: 1px solid #f0f0f0;

.layout-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background: #ffffff;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px -108px 164px 21px #000000;
    z-index: 1;
    margin-bottom: 30px;
}

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1600px;
    padding: 0 4em;

    &__links {
        display: flex;
        gap: 15px;
        width: 50%;
        justify-content: space-between;
    }
}

.toolbar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    height: 100%;
    background-color: #ffffff;
}

.left-toolbar-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    height: 100%;
    gap: 33px;
}

main {
    background-color: #ffffff;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.nav-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #636363;
    height: 100%;
    padding: 0;
}

a:hover {
    text-decoration: underline;
    color: $primary-color;
}
