<section class="layout-wrapper">
    <header>
        <div class="header-container">
            <mat-toolbar class="toolbar-container">
                <div class="left-toolbar-container">
                    <app-menu></app-menu>
                </div>
            </mat-toolbar>
        </div>
    </header>

    <main>
        <div class="main-wrapper">
            <section class="basic-container">
                <router-outlet></router-outlet>
            </section>
        </div>
    </main>
</section>
