$dark-color: #494949;
$light-color: #808080;
$primary-color: #008e1f;
$warn-color: #f44336;
$block-color: #d9001b;
$accent-color: #fcd703;
$border-color: #d8d8d8;

//grid
$grid-breakpoint-xl: 1600px;
$grid-breakpoint-lgx: 1350px;
$grid-breakpoint-lg: 1280px;
$grid-breakpoint-md: 1024px;
$grid-breakpoint-sm: 768px;
$grid-breakpoint-xs: 360px;
$grid-breakpoint-lg-max: 1599px;
$grid-breakpoint-md-max: 1279px;
$grid-breakpoint-sm-max: 1023px;
$grid-breakpoint-xs-max: 767px;

/** 1600 и выше */
$grid-gutter-xl: 12px;
/** 1280 – 1599 */
$grid-gutter-lg: 12px;
/** 1024 – 1279 */
$grid-gutter-md: 12px;
/** 768 – 1023 */
$grid-gutter-sm: 12px;
/** 360 – 767 */
$grid-gutter-xs: 12px;

$container-padding-xl: 12px;
$container-width-xl: 1480px + $container-padding-xl * 2;
$container-padding-lg: 24px;
$container-padding-md: 24px;
$container-padding-sm: 20px;
$container-padding-xs: 16px;
